/* Feel free to change whatever sry if anything is ugly~ */

body{
	font-family: Arial;
	font-size: 11px;
	margin: 0px;
	color:white;
}

h1 {
	background-color: black;
	color: white;
	margin: 0px;
	text-align: center;
}

p {
	padding-left: 5px;
	padding-right: 5px;
}

strong {
	font-size: 12px;
}

ul {
	list-style-type: none;
	padding-left: 15px;
}

a {
	color:white;
}

.nav {
	color: white;
	display: inline-block;
	font-size: 24px;
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
	text-transform: uppercase;
}

.nav:hover {
	background-color: black;
	color: white;
	text-decoration: none;
}

.sidebar {
	color: white;
	text-decoration: none;
}

.sidebar:hover {
	text-decoration: underline;
}

#center {
	background-color: green;
	width: 764px;
}

#center, #left {
	float: left;
	margin-bottom: 5px;
	margin-right: 5px;
}

#footer {
	clear: both;
	text-align: center;
}

#head {
	background-color: #292929;
	height: 135px;
	margin-bottom: 5px;
}

#footer, #head, #main, #nav {
	background-color: #292929;
	margin-left: auto;
	margin-right: auto;
	width: 1214px;
}

#left {
	background-color: #292929;
	width: 219px;
}

#nav {
	background-color: #292929;
	margin-bottom: 5px;
	text-align: center;
}

#right {
	background-color: #292929;
	display: inline-block;
	margin-bottom: 5px;
	width: 219px;
}
