<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Gamers</title>
	    
	    <!-- Libraries -->

	    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
	    
	    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	    
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	    
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>
	    
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
	    <!-- firebase -->
	    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
	    <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>

	    <link href = "css/main.css" rel="stylesheet" type = "text/css"/>
	    
	    <script src="js/main.js"></script>
	</head>

	<body ng-app="myApp" ng-controller="myController">

	<!-- facebook authentication with firebasee -->

		<div id="stuff">
			<div id="head"><button type="submit" class='btn btn-primary btn-md log' id="login" ng-show="showLogin">Login</button><button class='btn btn-primary btn-md log' type="submit" id="logout" ng-show='!showLogin'>Logout:  {{ userName }}</button></div>
			<div id="nav" class="header">
				<a ui-sref="home" class="nav">Home</a> 
				<a ui-sref="irc" class="nav">IRC</a> 
				<a href="http://gamer.ischool.uw.edu/" target="_blank" class="nav">GAMER</a>
			</div>

			<div id="main">
				<div id="titleleft">Forum Sidebar</div>
				<div id="titleright">What is GAMERS?</div>


				<div id="left">
					<div id="leftbar"> 
						<a ui-sref="general"><h1>General</h1></a>						
						<p>
							<ul><strong>Featured</strong>
								<div ng-repeat="general in generals | limitTo:6 | orderBy:'-recent'" ng-if="general.featured">
									<a ng-href="http://localhost:8080/#/thread/{{general.$id}}">{{general.title}}</a>
								</div>
							</ul>
							<ul><strong>Community</strong>
								<div ng-repeat="general in generals | limitTo:6 | orderBy:'-recent'" ng-if="!general.featured">
									<a ng-href="http://localhost:8080/#/thread/{{general.$id}}">{{general.title}}</a>
								</div>
							</ul>
						</p>

						<a ui-sref="blogs"><h1>Blog</h1></a>
						<p>
							<ul><strong>Featured</strong>
								<li ng-repeat="blog in blogs | limitTo:6 | orderBy:'-recent'" ng-if="blog.featured">
									<a ng-href="http://localhost:8080/#/thread/{{blog.$id}}">{{blog.title}}</a>
								</li>
							</ul>
							<ul><strong>Community</strong>
								<li ng-repeat="blog in blogs | limitTo:6 | orderBy:'-recent'" ng-if="!blog.featured">
									<a ng-href="http://localhost:8080/#/thread/{{blog.$id}}">{{blog.title}}</a>
								</li>
							</ul>
						</p>

						<a ui-sref="featuredTopic"><h1>Featured Topic</h1></a>
						<p>
							<ul>
								<li ng-repeat="feature in featured | limitTo:12 | orderBy:'-recent' ">
									<a ng-href="http://localhost:8080/#/thread/{{feature.$id}}">{{feature.title}}</a>
								</li>
							</ul>
						</p>
					</div>
				</div>
				<div id="center">
				<div id="homepageStuff">
					<div class="container" id="centerTitle">
						<h4>Welcome to GAMER Group!</h4>
					</div>
				</div>
					<div ui-view></div>
				</div>

				<div id="right">
					<div id="rightbar">
						<h1>About GAMER</h1>
						<p id="gamersDesc">The GAMER Group explores new ideas and approaches for organizing and providing access to video games and interactive media, particularly from a user-centered perspective. We research various topics related to data modeling, metadata creation, and construction of controlled vocabularies for games and other related media such as music, artwork, videos, and more. The group is also responsible for developing and maintaining the UW/SIMM Video Game Metadata Schema in order to advance the cataloging practice of these popular cultural artifacts in cultural heritage organizations and support the use of games in education and science.</br></br>The GAMER Group is led by Professor Jin Ha Lee at the Information School, University of Washington.</p>
					</div>
				</div>
			</div>
			<div id="footer">
				<p>
					Copyright &copy; 2015 <a href="http://gamer.ischool.uw.edu/" target="_blank">GAMER Group</a>.
				</p>
			</div>
		
	</body>


</html>
