<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Gamers</title>
	    
	    <!-- Libraries -->
	    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
	    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
	    <link href = "css/main.css" rel="stylesheet" type = "text/css"/>
	    <script src="js/main.js"></script>
	</head>

	<body ng-app="myApp" ng-controller="myController">

	<!-- facebook authentication with firebasee -->

		<div id="stuff">
			<div id="head"><button type="submit" class='.btn-primary .btn-lg' id="login" ng-show="showLogin">Login</button><button class='.btn-primary .btn-lg' type="submit" id="logout" ng-show='!showLogin'>Logout {{ userName }}</button></div>
			<div id="nav" class="header">
				<a ui-sref="home" class="nav">Home</a> 
				<a ui-sref="threads" class="nav">Thread</a> 
				<a ui-sref="irc" class="nav">IRC</a> 
				<a href="http://gamer.ischool.uw.edu/" target="_blank" class="nav">GAMERS</a>
			</div>

			<div id="main">
				<div id="titleleft">Forum Sidebar</div>
				<div id="titleright">What is GAMERS?</div>


				<div id="left">
					<div id="leftbar"> <!--ng-repeat='forum in forums'-->
						<!--<h1>{{forum.category}}</h1>
						<p>
							<strong>{{forum.name}}</strong><br />
							<a href="" class="sidebar" ng-repeat="thread in threads">WOOHOO</a><br />
							<a href="" class="sidebar">WOOHOO</a>
						</p> -->

						<h1>General</h1>
						<p>
							<ul>
								<li><strong>Featured</strong>
									<ul ng-repeat="thread1 in threads1">
										<li><a ng-href="/#/thread/{{ thread1.id }}" class="sidebar"> {{ thread1.title }}</a></li>
									</ul>
								</li>
								<li><strong>Community</strong>
									<ul ng-repeat="thread2 in threads2">
										<li><a href="/#/thread/{{ thread2.id }}" class="sidebar">{{ thread2.title }}</a></li>
									</ul>
								</li>
							</ul>
						</p>

						<h1>Blog</h1>
						<p>
							<ul>
								<li><strong>Example</strong>
									<ul ng-repeat="thread3 in threads3">
										<li><a href="/#/thread/{{ thread3.id }}" class="sidebar">{{ thread3.title }}</a></li>
									</ul>
								</li>
							</ul>
						</p>

						<h1>Featured Topic</h1>
						<p>
							<ul>
								<li>
									<ul ng-repeat="thread2 in threads2">
										<li><a href="/#/thread/{{ thread2.id }}" class="sidebar">{{ thread2.title }}</a></li>
									</ul>
								</li>
							</ul>
						</p>
					</div>
				</div>
				<div id="center">
					<div ui-view></div>
				</div>

				<div id="right">
					<div id="rightbar">
						<h1>About GAMERS</h1>
						<p id="gamersDesc">The GAMER Group explores new ideas and approaches for organizing and providing access to video games and interactive media, particularly from a user-centered perspective. We research various topics related to data modeling, metadata creation, and construction of controlled vocabularies for games and other related media such as music, artwork, videos, and more. The group is also responsible for developing and maintaining the UW/SIMM Video Game Metadata Schema in order to advance the cataloging practice of these popular cultural artifacts in cultural heritage organizations and support the use of games in education and science.</br></br>The GAMER Group is led by Professor Jin Ha Lee at the Information School, University of Washington.</p>
					</div>
				</div>
			</div>
			<div id="footer">
				<p>
					There is a footer here<br />
					Yo yo yo yo embryo &copy; 2015
				</p>
			</div>
		
	</body>


</html>
