<h4>GAMERS Blog Page</h4>

<div class="form-group">
	<div class="form-group">
		  <div class="text-center" ng-show='!showLogin' >
		    <a ui-sref="newThread" class="nav"><label type="button" class="btn btn-default">Create a New Thread</label></a>
		  </div>
	</div>
</div>
<div id="listShowArea">
	<table>
		<tr id="tableHead">
			<td>Blogs: Featured</td>
			<td>Original Creator</td>
			<td>Replies</td>
			<td>Last Updated</td>
		</tr>
		<tr ng-repeat="blog in blogs | filter:featured | orderBy:'-recent'" class="featuredThreads">
			<td><a href="/#/thread/{{ blog.$id }}" class="emailStyle">{{ blog.title }}</a></td>
			<td>{{ blog.author }}</td>
			<td>{{ blog.replies }}</td>
			<td>{{ blog.recent | date : 'short' }}</td>
		</tr>
	</table>
	<table>
		<tr id="tableHead">
			<td>General Threads: Community</td>
			<td>Original Creator</td>
			<td>Replies</td>
			<td>Date Created</td>
		</tr>
		<tr ng-repeat="blog in blogs | filter:!featured | orderBy:'-recent'" class="featuredThreads">
			<td><a href="/#/thread/{{ blog.$id }}" class="emailStyle">{{ blog.title }}</a></td>
			<td>{{ blog.author }}</td>
			<td>{{ blog.replies }}</td>
			<td>{{ blog.recent | date : 'short' }}</td>
		</tr>
	</table>
</div>