<div id="homepageStuff">
	<div class="container" id="centerTitle">
		<h4>Below is our Featured Forum</h4>
	</div>
	<div class="form-group">
		  <div class="text-center" ng-show='!showLogin' >
		    <a ui-sref="newThread" class="nav"><label type="button" class="btn btn-default .btm-sm">Create a New Thread</label></a>
		  </div>
	</div>
	<div id="listShowArea">
		<table>
			<tr id="tableHead">
				<td>Threads</td>
				<td>Original Creator</td>
				<td>Replies</td>
				<td>Date Created</td>
			</tr>
			<tr ng-repeat="feature in featured " class="featuredThreads">
				<td><a href="/#/thread/{{ feature.$id }}" class="emailStyle">{{ feature.title }}</a></td>
				<td>{{ feature.author }}</td>
				<td>{{ feature.replies }}</td>
				<td>{{ feature.recent | date : 'short' }}</td>
			</tr>
		</table>
	</div>
</div>
