<h4>GAMERS General Forum</h4>

<div class="form-group">
	<div class="form-group">
		  <div class="text-center" ng-show='!showLogin' >
		    <a ui-sref="newThread" class="nav"><label type="button" class="btn btn-default">Create a New Thread</label></a>
		  </div>
	</div>
</div>
<div id="listShowArea">
		<table>
			<tr id="tableHead">
				<td>General Threads: Featured</td>
				<td>Original Creator</td>
				<td>Replies</td>
				<td>Last Updated</td>
			</tr>
			<tr ng-repeat="general in generals | orderBy:'-recent'" ng-if="general.featured" class="featuredThreads">
				<td class='threadTable'><a href="/#/thread/{{ general.$id }}" class="emailStyle">{{ general.title }}</a></td>
				<td>{{ general.author }}</td>
				<td>{{ general.replies }}</td>
				<td>{{ general.recent | date : 'short'  }}</td>
			</tr>
		</table>
		<table>
			<tr id="tableHead">
				<td>General Threads: Community</td>
				<td>Original Creator</td>
				<td>Replies</td>
				<td>Last Updated</td>
			</tr>
			<tr ng-repeat="general in generals | filter:!featured | orderBy:'-recent'" class="featuredThreads">
				<td class='threadTable'><a href="/#/thread/{{ general.$id }}" class="emailStyle">{{ general.title }}</a></td>
				<td>{{ general.author }}</td>
				<td>{{ general.replies }}</td>
				<td>{{ general.recent | date : 'short'  }}</td>
			</tr>
		</table>
	</div>