<div id="center">	
		<h1>{{thread.}}</h1>
	<div class="container" id="centerTitle">
	<div class="form-group">
	  <div class="col-sm-offset-2 col-sm-10 center-block" >
	    <button type="submit" class="btn btn-default">Create a New Thread</button>
	  </div>
	</div>
	</div>
	<div class ="container">
		<h5 class= "threadList">Threads Created</h5>		
	</div>
	<div class ="container">
		<ul>
			<li class= "threadList" ng-repeat='thread in threads'>{{thread.title + ' , created at ' + thread.createdAt}}</li>
		</ul>

	</div>
</div>
</div>