<form class="form-horizontal" ng-submit="submit()" ng-show='!showLogin'>
  <div class="form-group newPostArea">
    <label for="forumSelect">Select Forum: </label>
    <select class="forumselect">
      <option value="gamergroupgeneral">General</option>
      <option value="gamergroupblog">Blog</option>
      <option value="gamergroupfeaturedtopic">Featured Topic</option>
    </select>
    <label for="threadTitle" class="col-sm-2 newPostLabel">Topic</label>
    <input type="text" class="form-control" id="threadTitle" ng-model="threadTitle" placeholder="Topic">
  </div>
  <div class="form-group newPostArea">
    <label for="threadMessage" class="col-sm-2 newPostLabel">Messages</label>
    <textarea class="form-control" id="threadMessage" ng-model="threadMessage" placeholder="Message" rows="3"></textarea>
  </div>
  <div class="form-group">
    <button type="submit" id="submit" class="btn btn-default">Post</button>
  </div>
</form>